body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:  #007bff;
    border-bottom: 1px solid #ddd;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.5rem;
    color:white
  }
  
  .logout-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #001958;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #0056b3;
  }
  
  main {
    padding: 2rem;
  }
  
  .complaints h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .complaint-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .complaint-card h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
  }
  
  .complaint-card p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .status-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .not-completed {
    background-color: red;
    color: white;
  }
  
  .not-completed:hover {
    background-color: darkred;
  }
  
  .completed {
    background-color: green;
    color: white;
  }
  
  .completed:hover {
    background-color: darkgreen;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #a71d2a;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .profile-btn a {
    text-decoration: none;
    display: block;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .profile-btn:hover {
    opacity: 0.8;
  }
  